<!DOCTYPE html>
<html>
    <head>
        <link href="{{ url_for('static', filename='styles/index.css') }}" rel="stylesheet">
        <script src="{{ url_for('static', filename='scripts/index.js') }}"></script>
        <link rel="icon" href="https://cdn.discordapp.com/attachments/1060591233761804398/1140033484577067058/Untitled.png">

        <meta content="StrangeCraft" property="og:title" />
        <meta content="Zábavný minecraft server se spoustou miniher a economy survivalem!" property="og:description" />
        <meta content="https://strangecraft.eu" property="og:url" />
        <meta content="https://cdn.discordapp.com/attachments/1060591233761804398/1084198554794467428/strangecraft_icon.png?ex=656b8796&is=65591296&hm=fe8c1a8a3d5e176b95b1d1df6bffc57d1355482d530687c9c4d14eae497d315d&" property="og:image" />
        <meta content="#FF9500" data-react-helmet="true" name="theme-color" />
        
        <title>StrangeCraft.eu</title>

    </head>

    <body>

        <main>
            Stránka se připravuje
        </main>

    </body>
</html>
